* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  background: #000;
  width: 100%;
}

.hidden {
  display: none;
}

#chat-control-container {
  background: #000;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#account-info-container {
  padding: 5px;
}

#sign-in-container.hidden {
  display: none;
}

form input {
  border: 0;
  padding: 10px;
  width: 89.5%;
  margin: 0 .5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.red {
  color: red;
}
.green {
  color: green;
}

#sign-in-container {
  position: absolute;
  left: 40%;
  top: 40%;
  height: 100px;
  width: 300px;
  border: 2px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

#account-info-container {
  color: white;
}

button.sign-in-out {
  padding: 10px;
}
